USE [master]
GO
/****** Object:  Database [driving_school]    Script Date: 1/8/2026 2:25:23 PM ******/
CREATE DATABASE [driving_school]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'driving_school', FILENAME = N'D:\1\Sem_3\Bazy_danych_Wyk\SQL\sql_server\MSSQL16.SQLEXPRESS\MSSQL\DATA\driving_school.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'driving_school_log', FILENAME = N'D:\1\Sem_3\Bazy_danych_Wyk\SQL\sql_server\MSSQL16.SQLEXPRESS\MSSQL\DATA\driving_school_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT, LEDGER = OFF
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [driving_school].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [driving_school]
GO
/****** Object:  Table [dbo].[car_service]    Script Date: 1/8/2026 2:25:23 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[car_service](
	[id_service] [int] IDENTITY(1,1) NOT NULL,
	[id_car] [int] NULL,
	[service_date] [date] NULL,
	[description] [varchar](100) NULL,
PRIMARY KEY CLUSTERED 
(
	[id_service] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[cars]    Script Date: 1/8/2026 2:25:23 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[cars](
	[id_car] [int] IDENTITY(1,1) NOT NULL,
	[manufacturer] [varchar](50) NULL,
	[model] [varchar](50) NULL,
	[color] [varchar](30) NULL,
	[type] [varchar](30) NULL,
	[vin] [varchar](50) NULL,
PRIMARY KEY CLUSTERED 
(
	[id_car] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[course_enrollments]    Script Date: 1/8/2026 2:25:23 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[course_enrollments](
	[id_enrollment] [int] IDENTITY(1,1) NOT NULL,
	[id_student] [int] NULL,
	[id_course] [int] NULL,
	[enrollment_date] [date] NULL,
PRIMARY KEY CLUSTERED 
(
	[id_enrollment] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[course_modules]    Script Date: 1/8/2026 2:25:23 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[course_modules](
	[id_module] [int] IDENTITY(1,1) NOT NULL,
	[id_course] [int] NULL,
	[module_name] [varchar](50) NULL,
	[hours] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[id_module] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[courses]    Script Date: 1/8/2026 2:25:23 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[courses](
	[id_course] [int] IDENTITY(1,1) NOT NULL,
	[name] [varchar](50) NULL,
	[number_of_hours] [int] NULL,
	[price] [decimal](8, 2) NULL,
PRIMARY KEY CLUSTERED 
(
	[id_course] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[exam_types]    Script Date: 1/8/2026 2:25:23 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[exam_types](
	[id_exam_type] [int] IDENTITY(1,1) NOT NULL,
	[name] [varchar](50) NULL,
PRIMARY KEY CLUSTERED 
(
	[id_exam_type] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[exams]    Script Date: 1/8/2026 2:25:23 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[exams](
	[id_exam] [int] IDENTITY(1,1) NOT NULL,
	[exam_date] [date] NULL,
	[result] [varchar](20) NULL,
	[id_student] [int] NULL,
	[id_course] [int] NULL,
	[id_exam_type] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[id_exam] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[lesson_statuses]    Script Date: 1/8/2026 2:25:23 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[lesson_statuses](
	[id_status] [int] IDENTITY(1,1) NOT NULL,
	[status_name] [varchar](30) NULL,
PRIMARY KEY CLUSTERED 
(
	[id_status] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[lesson_types]    Script Date: 1/8/2026 2:25:23 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[lesson_types](
	[id_lesson_type] [int] IDENTITY(1,1) NOT NULL,
	[name] [varchar](50) NULL,
PRIMARY KEY CLUSTERED 
(
	[id_lesson_type] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[lessons]    Script Date: 1/8/2026 2:25:23 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[lessons](
	[id_lesson] [int] IDENTITY(1,1) NOT NULL,
	[lesson_date] [date] NULL,
	[id_student] [int] NULL,
	[id_teacher] [int] NULL,
	[id_car] [int] NULL,
	[id_status] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[id_lesson] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[payment_methods]    Script Date: 1/8/2026 2:25:23 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[payment_methods](
	[id_method] [int] IDENTITY(1,1) NOT NULL,
	[method_name] [varchar](30) NULL,
PRIMARY KEY CLUSTERED 
(
	[id_method] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[payments]    Script Date: 1/8/2026 2:25:23 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[payments](
	[id_payment] [int] IDENTITY(1,1) NOT NULL,
	[payment_date] [date] NULL,
	[amount] [decimal](8, 2) NULL,
	[id_student] [int] NULL,
	[id_course] [int] NULL,
	[id_method] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[id_payment] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[students]    Script Date: 1/8/2026 2:25:23 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[students](
	[id_student] [int] IDENTITY(1,1) NOT NULL,
	[first_name] [varchar](50) NULL,
	[last_name] [varchar](50) NULL,
	[phone] [varchar](20) NULL,
PRIMARY KEY CLUSTERED 
(
	[id_student] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[teacher_availability]    Script Date: 1/8/2026 2:25:23 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[teacher_availability](
	[id_availability] [int] IDENTITY(1,1) NOT NULL,
	[id_teacher] [int] NULL,
	[available_day] [varchar](20) NULL,
PRIMARY KEY CLUSTERED 
(
	[id_availability] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[teachers]    Script Date: 1/8/2026 2:25:23 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[teachers](
	[id_teacher] [int] IDENTITY(1,1) NOT NULL,
	[first_name] [varchar](50) NULL,
	[last_name] [varchar](50) NULL,
PRIMARY KEY CLUSTERED 
(
	[id_teacher] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[car_service] ON 

INSERT [dbo].[car_service] ([id_service], [id_car], [service_date], [description]) VALUES (1, 2, CAST(N'2025-06-24' AS Date), N'Technical inspection')
INSERT [dbo].[car_service] ([id_service], [id_car], [service_date], [description]) VALUES (2, 3, CAST(N'2025-03-19' AS Date), N'Technical inspection')
INSERT [dbo].[car_service] ([id_service], [id_car], [service_date], [description]) VALUES (3, 2, CAST(N'2025-10-24' AS Date), N'Technical inspection')
SET IDENTITY_INSERT [dbo].[car_service] OFF
GO
SET IDENTITY_INSERT [dbo].[cars] ON 

INSERT [dbo].[cars] ([id_car], [manufacturer], [model], [color], [type], [vin]) VALUES (1, N'Fiat', N'Explorer', N'Salmon', N'Wagon', N'VA5LX7RSB6ZM74386')
INSERT [dbo].[cars] ([id_car], [manufacturer], [model], [color], [type], [vin]) VALUES (2, N'Hyundai', N'Explorer', N'Orchid', N'Passenger Van', N'EK841M3Y8KTM90894')
INSERT [dbo].[cars] ([id_car], [manufacturer], [model], [color], [type], [vin]) VALUES (3, N'Ford', N'Accord', N'Grey', N'Coupe', N'L1X6AJP0S0L597346')
SET IDENTITY_INSERT [dbo].[cars] OFF
GO
SET IDENTITY_INSERT [dbo].[course_enrollments] ON 

INSERT [dbo].[course_enrollments] ([id_enrollment], [id_student], [id_course], [enrollment_date]) VALUES (1, 7, 1, CAST(N'2025-08-27' AS Date))
INSERT [dbo].[course_enrollments] ([id_enrollment], [id_student], [id_course], [enrollment_date]) VALUES (2, 7, 2, CAST(N'2025-12-07' AS Date))
INSERT [dbo].[course_enrollments] ([id_enrollment], [id_student], [id_course], [enrollment_date]) VALUES (3, 2, 2, CAST(N'2025-06-10' AS Date))
SET IDENTITY_INSERT [dbo].[course_enrollments] OFF
GO
SET IDENTITY_INSERT [dbo].[course_modules] ON 

INSERT [dbo].[course_modules] ([id_module], [id_course], [module_name], [hours]) VALUES (1, 1, N'traffic rules', 10)
INSERT [dbo].[course_modules] ([id_module], [id_course], [module_name], [hours]) VALUES (2, 1, N'basic maneuvers', 8)
INSERT [dbo].[course_modules] ([id_module], [id_course], [module_name], [hours]) VALUES (3, 1, N'city driving', 6)
SET IDENTITY_INSERT [dbo].[course_modules] OFF
GO
SET IDENTITY_INSERT [dbo].[courses] ON 

INSERT [dbo].[courses] ([id_course], [name], [number_of_hours], [price]) VALUES (1, N'Category B1', 30, CAST(3200.00 AS Decimal(8, 2)))
INSERT [dbo].[courses] ([id_course], [name], [number_of_hours], [price]) VALUES (2, N'Category B', 20, CAST(2800.00 AS Decimal(8, 2)))
SET IDENTITY_INSERT [dbo].[courses] OFF
GO
SET IDENTITY_INSERT [dbo].[exam_types] ON 

INSERT [dbo].[exam_types] ([id_exam_type], [name]) VALUES (1, N'Theoretical')
INSERT [dbo].[exam_types] ([id_exam_type], [name]) VALUES (2, N'Practical')
SET IDENTITY_INSERT [dbo].[exam_types] OFF
GO
SET IDENTITY_INSERT [dbo].[exams] ON 

INSERT [dbo].[exams] ([id_exam], [exam_date], [result], [id_student], [id_course], [id_exam_type]) VALUES (1, CAST(N'2024-12-28' AS Date), N'Passed', 3, 1, 2)
INSERT [dbo].[exams] ([id_exam], [exam_date], [result], [id_student], [id_course], [id_exam_type]) VALUES (2, CAST(N'2025-08-03' AS Date), N'Failed', 5, 1, 1)
INSERT [dbo].[exams] ([id_exam], [exam_date], [result], [id_student], [id_course], [id_exam_type]) VALUES (3, CAST(N'2025-03-24' AS Date), N'Failed', 1, 2, 2)
GO
SET IDENTITY_INSERT [dbo].[exams] OFF
GO
SET IDENTITY_INSERT [dbo].[lesson_statuses] ON 

INSERT [dbo].[lesson_statuses] ([id_status], [status_name]) VALUES (1, N'Planned')
INSERT [dbo].[lesson_statuses] ([id_status], [status_name]) VALUES (2, N'Completed')
INSERT [dbo].[lesson_statuses] ([id_status], [status_name]) VALUES (3, N'Cancelled')
SET IDENTITY_INSERT [dbo].[lesson_statuses] OFF
GO
SET IDENTITY_INSERT [dbo].[lesson_types] ON 

INSERT [dbo].[lesson_types] ([id_lesson_type], [name]) VALUES (1, N'theoretical')
INSERT [dbo].[lesson_types] ([id_lesson_type], [name]) VALUES (2, N'practical')
INSERT [dbo].[lesson_types] ([id_lesson_type], [name]) VALUES (3, N'simulator')
SET IDENTITY_INSERT [dbo].[lesson_types] OFF
GO
SET IDENTITY_INSERT [dbo].[lessons] ON 

INSERT [dbo].[lessons] ([id_lesson], [lesson_date], [id_student], [id_teacher], [id_car], [id_status]) VALUES (1, CAST(N'2025-11-30' AS Date), 9, 6, 4, 1)
INSERT [dbo].[lessons] ([id_lesson], [lesson_date], [id_student], [id_teacher], [id_car], [id_status]) VALUES (2, CAST(N'2025-10-02' AS Date), 3, 8, 3, 3)
INSERT [dbo].[lessons] ([id_lesson], [lesson_date], [id_student], [id_teacher], [id_car], [id_status]) VALUES (3, CAST(N'2025-01-30' AS Date), 10, 5, 3, 2)
GO
SET IDENTITY_INSERT [dbo].[lessons] OFF
GO
SET IDENTITY_INSERT [dbo].[payment_methods] ON 

INSERT [dbo].[payment_methods] ([id_method], [method_name]) VALUES (1, N'Cash')
INSERT [dbo].[payment_methods] ([id_method], [method_name]) VALUES (2, N'Transfer')
INSERT [dbo].[payment_methods] ([id_method], [method_name]) VALUES (3, N'Card')
SET IDENTITY_INSERT [dbo].[payment_methods] OFF
GO
SET IDENTITY_INSERT [dbo].[payments] ON 

INSERT [dbo].[payments] ([id_payment], [payment_date], [amount], [id_student], [id_course], [id_method]) VALUES (1, CAST(N'2025-03-31' AS Date), CAST(1279.00 AS Decimal(8, 2)), 5, 2, 2)
INSERT [dbo].[payments] ([id_payment], [payment_date], [amount], [id_student], [id_course], [id_method]) VALUES (2, CAST(N'2025-04-22' AS Date), CAST(2979.00 AS Decimal(8, 2)), 4, 2, 2)
INSERT [dbo].[payments] ([id_payment], [payment_date], [amount], [id_student], [id_course], [id_method]) VALUES (3, CAST(N'2025-12-20' AS Date), CAST(3620.00 AS Decimal(8, 2)), 5, 1, 3)
GO
SET IDENTITY_INSERT [dbo].[payments] OFF
GO
SET IDENTITY_INSERT [dbo].[students] ON 

INSERT [dbo].[students] ([id_student], [first_name], [last_name], [phone]) VALUES (1, N'Ed', N'Christiansen', N'+48 741 456 1115')
INSERT [dbo].[students] ([id_student], [first_name], [last_name], [phone]) VALUES (2, N'Emmett', N'Welch', N'+48 452 477 0376')
INSERT [dbo].[students] ([id_student], [first_name], [last_name], [phone]) VALUES (3, N'Martha', N'Bartell', N'+48 503 391 7006')
SET IDENTITY_INSERT [dbo].[students] OFF
GO
SET IDENTITY_INSERT [dbo].[teacher_availability] ON 

INSERT [dbo].[teacher_availability] ([id_availability], [id_teacher], [available_day]) VALUES (1, 4, N'Monday')
INSERT [dbo].[teacher_availability] ([id_availability], [id_teacher], [available_day]) VALUES (2, 1, N'Monday')
INSERT [dbo].[teacher_availability] ([id_availability], [id_teacher], [available_day]) VALUES (3, 5, N'Monday')
SET IDENTITY_INSERT [dbo].[teacher_availability] OFF
GO
SET IDENTITY_INSERT [dbo].[teachers] ON 

INSERT [dbo].[teachers] ([id_teacher], [first_name], [last_name]) VALUES (1, N'Mattie', N'Spinka')
INSERT [dbo].[teachers] ([id_teacher], [first_name], [last_name]) VALUES (2, N'Darla', N'Sauer')
INSERT [dbo].[teachers] ([id_teacher], [first_name], [last_name]) VALUES (3, N'Joyce', N'Mohr')
SET IDENTITY_INSERT [dbo].[teachers] OFF
GO
ALTER TABLE [dbo].[car_service]  WITH CHECK ADD FOREIGN KEY([id_car])
REFERENCES [dbo].[cars] ([id_car])
GO
ALTER TABLE [dbo].[course_enrollments]  WITH CHECK ADD FOREIGN KEY([id_course])
REFERENCES [dbo].[courses] ([id_course])
GO
ALTER TABLE [dbo].[course_enrollments]  WITH CHECK ADD FOREIGN KEY([id_student])
REFERENCES [dbo].[students] ([id_student])
GO
ALTER TABLE [dbo].[course_modules]  WITH CHECK ADD FOREIGN KEY([id_course])
REFERENCES [dbo].[courses] ([id_course])
GO
ALTER TABLE [dbo].[exams]  WITH CHECK ADD FOREIGN KEY([id_course])
REFERENCES [dbo].[courses] ([id_course])
GO
ALTER TABLE [dbo].[exams]  WITH CHECK ADD FOREIGN KEY([id_exam_type])
REFERENCES [dbo].[exam_types] ([id_exam_type])
GO
ALTER TABLE [dbo].[exams]  WITH CHECK ADD FOREIGN KEY([id_student])
REFERENCES [dbo].[students] ([id_student])
GO
ALTER TABLE [dbo].[lessons]  WITH CHECK ADD FOREIGN KEY([id_car])
REFERENCES [dbo].[cars] ([id_car])
GO
ALTER TABLE [dbo].[lessons]  WITH CHECK ADD FOREIGN KEY([id_status])
REFERENCES [dbo].[lesson_statuses] ([id_status])
GO
ALTER TABLE [dbo].[lessons]  WITH CHECK ADD FOREIGN KEY([id_student])
REFERENCES [dbo].[students] ([id_student])
GO
ALTER TABLE [dbo].[lessons]  WITH CHECK ADD FOREIGN KEY([id_teacher])
REFERENCES [dbo].[teachers] ([id_teacher])
GO
ALTER TABLE [dbo].[payments]  WITH CHECK ADD FOREIGN KEY([id_course])
REFERENCES [dbo].[courses] ([id_course])
GO
ALTER TABLE [dbo].[payments]  WITH CHECK ADD FOREIGN KEY([id_method])
REFERENCES [dbo].[payment_methods] ([id_method])
GO
ALTER TABLE [dbo].[payments]  WITH CHECK ADD FOREIGN KEY([id_student])
REFERENCES [dbo].[students] ([id_student])
GO
ALTER TABLE [dbo].[teacher_availability]  WITH CHECK ADD FOREIGN KEY([id_teacher])
REFERENCES [dbo].[teachers] ([id_teacher])
GO
USE [master]
GO
